# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static/

# Environment files
.env
.venv
venv/
myenv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
