{% extends 'admin_index.html' %}
{% block body %}


<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
<h6>Admin Change Password</h6>
							<hr>
							<div class="card">
								<div class="card-body">
									<form action="" method="post">
										{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Current Password:</label>
											<input type="password" class="form-control" name="pwd3" placeholder="Current Password">
										</div>
										<div class="mb-3">
											<label class="form-label">New Password:</label>
											<input type="password" class="form-control" name="pwd2" placeholder="New Password">
										</div>
                                        <div class="mb-3">
											<label class="form-label">Confirm Password:</label>
											<input type="password" class="form-control" name="pwd1" placeholder="Confirm Password">
										</div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>

                                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                                </div>
                            </div>
                </div>
            </div>
</div>
{% endblock %}