{% extends 'index.html' %}
{% load static %}
{% block body %}

<!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Shop</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Shop</h6>
        </div>
    </div>
    <!-- Page Header Start -->

<!-- Rent A Car Start -->
        <div class="container pb-5">
            <div class="row">
                {% for i in product %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" style="height:200px"  src="{{i.image1.url}}" alt="">
                        <h4 class=" mb-4">{{i.productname}}</h4>
                        <h6 class="text-uppercase mb-4">{{i.rentalprice}} Rs./Day</h6>
                        <div class="d-flex justify-content-center mb-4">
                        </div>
                        <a class="btn btn-primary px-3" href="/product-detail/{{i.id}}/">More Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
   {% endblock %}
