{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
		<!--page-content-wrapper-->
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="row">
					<div class="col-12 col-lg-12">
						<div class="card radius-20 bg-voilet">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h4 class="mb-0 text-white">Total Product <i class='text-white'></i> </h4>
									</div>
									<div class="ms-auto font-30 text-white">{{product.count}}<i class="bx bx-edit"></i>
									</div>
									</div>
									<div class="d-flex align-items-center">
									<div>
										<a class="mb-0 text-black" href="/view_product/?type=Product">VIEW</a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12">
							<div class="card radius-20 bg-primary-blue">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h4 class="mb-0 text-white">New Booking<i class='text-white'></i> </h4>
										</div>
										<div class="ms-auto font-30 text-white">{{new.count}}<i class="bx bx-smile"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<a class="mb-0 text-black" href="/new_booking/?action=New">VIEW</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12">
							<div class="card radius-20 bg-rose">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h4 class="mb-0 text-white">Approved Booking<i class=' text-white'></i> </h4>
										</div>
										<div class="ms-auto font-30 text-white">{{Approved.count}}<i class="bx bx-list-ul"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<a class="mb-0 text-black" href="/new_booking/?action=Approved">VIEW</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12">
							<div class="card radius-20 bg-sunset">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h4 class="mb-0 text-white">Unapproved Booking <i class=' text-white'></i> </h4>
										</div>
										<div class="ms-auto font-30 text-white">{{Unapproved.count}}<i class="bx bx-group"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<a class="mb-0 text-black" href="/new_booking/?action=Unapproved">VIEW</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="col-12 col-lg-12">
						<div class="card radius-20 bg-voilet">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h4 class="mb-0 text-white">Total Booking <i class=' text-white'></i> </h4>
									</div>
									<div class="ms-auto font-30 text-white">{{Total.count}}<i class="bx bx-edit"></i>
									</div>
									</div>
									<div class="d-flex align-items-center">
									<div>
										<a class="mb-0 text-black" href="/new_booking/?action=Total">VIEW</a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12">
							<div class="card radius-20 bg-primary-blue">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div><a href="">
											<h4 class="mb-0 text-white">Total Brand <i class=' text-white'></i> </h4>
											</a>
										</div>
										<div class="ms-auto font-30 text-white">{{brand.count}}<i class="bx bx-smile"></i>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div>
											<a class="mb-0 text-black" href="/view_brand/?type=Brand">VIEW</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>


{% endblock %}