{% extends 'index.html' %}
{% load static %}
{% block body %}

<!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">My Booking</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">My Booking</h6>
        </div>
    </div>
<div class="table-responsive container"  style="width:80%;float:center">
  <div class=" col-12 receipt-right">
            <div class="text-left">
                  <p><b>Booking Number</b>#{{booking.bookingnumber}}</p>
                  <p><b>Booking Date: </b>#{{booking.bookingdate}}</p>
                  <p><b>Booking Status: </b>#{{booking.status}}</p>
		    </div>
  </div>
	       <div class="col-10 text-left">
			     <a href="{% url 'invoice' booking.id %}">Invoice</a>
		   </div>

			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
				<tr>
					<th>S.NO</th>
					<th>BOOKING NUMBER</th>
					<th>BOOKING DATE</th>
					<th>FROM DATE</th>
					<th>TO DATE</th>
					<th>PRODUCT IMAGE</th>
					<th>PRODUCT NAME</th>
					<th>QUANTITY</th>
					<th>RENTAL PRICE</th>
					<th>TOTAL PRICE</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1.</td>
					<td>{{booking.bookingnumber}}</td>
					<td>{{booking.bookingdate}}</td>
					<td>{{booking.fromdate}}</td>
					<td>{{booking.todate}}</td>
					<td><img class="img-fluid" style="height:150px;width:100%" src="{{booking.productname.image1.url}}" alt=""></td>
					<td>{{booking.productname.productname}}</td>
					<td>{{booking.quantity}}</td>
					<td>{{booking.productname.rentalprice}}</td>
					<td>{{booking.totalprice}}</td>
				</tr>
			</table>
	        <div class="col-10 text-left">
			     <a href="/my_booking/">Back</a>
	        </div>
</div>
  </div>
{% endblock %}